<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name = "format-detection" content = "telephone=no" /> -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title></title>

    <link href="assets/css/bundle.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="app">
      <header class="header"></header>
      <main class="content maxw1200">
        <div class="images">
          <input v-model="query" type="text" class="images__search" placeholder="Строка поиска">
          <ul class="images__list">
            <li v-for="(image, index) in images" :key="index" class="images__item image">
              <img :src="image" alt="">
              <a @click.prevent="addToFavorite(image)" href="" class="image__link">В избранное</a>
            </li>
          </ul>
        </div>
        <div class="favorites">
          <div class="favorites__title">Избранные</div>
          <ul class="favorites__list">
            <li v-for="(favorite, index) in favorites" :key="index" class="favorites__item image">
              <img :src="favorite" alt="">
              <a @click.prevent="removeFromFavorite(index)" href="" class="image__link">Удалить</a>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer"></footer>
    </div>    
    <script src="assets/js/bundle.js"></script>
  </body>
</html>
