*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 1000000px; /*disable font boosting for webkit*/
}

html {
	height: 100%;
	font-size: 10px; /* for use rem */
}

body {
	// display: flex;
  // flex-direction: column;
	font: 1.6rem Arial, sans-serif;
	width: 100%;
  min-height: 100%;
}

a {
  outline: none;
}

.maxw1200 {
	position: relative;
	width: 100%;
	max-width: 1200px;
  margin-left: auto;
	margin-right: auto;
}

input[type="text"]:focus::-webkit-input-placeholder {color: transparent}
input[type="text"]:focus::-moz-placeholder          {color: transparent}
input[type="text"]:focus:-moz-placeholder           {color: transparent}
input[type="text"]:focus:-ms-input-placeholder      {color: transparent}

input[type="email"]:focus::-webkit-input-placeholder {color: transparent}
input[type="email"]:focus::-moz-placeholder          {color: transparent}
input[type="email"]:focus:-moz-placeholder           {color: transparent}
input[type="email"]:focus:-ms-input-placeholder      {color: transparent}

input[type="tel"]:focus::-webkit-input-placeholder {color: transparent}
input[type="tel"]:focus::-moz-placeholder          {color: transparent}
input[type="tel"]:focus:-moz-placeholder           {color: transparent}
input[type="tel"]:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}

:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	flex: 0 0 auto;
	position: relative;
	height: 100px;
  min-width: 320px;
}



/* Content
-----------------------------------------------------------------------------*/
.content {
	display: flex;
  flex: 1 0 auto;
	position: relative;
  min-width: 320px;

}

.images {
	flex: 1 0 70%;
	padding-left: 10px;
	padding-right: 60px;
	border-right: 1px solid #999;
}

.images__search {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 0 15px;
	margin-bottom: 40px;
	outline: none;
}

.images__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}

.images__item {
	margin-bottom: 20px;
}

.image {
	position: relative;
	width: 240px;
	height: 140px;

	&:hover {
		
		img {
		  filter: brightness(.6);
		}

		.image__link {
			display: block;
		}
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: .3s;
	}
}

.image__link {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: none;
	color: #fff;
	z-index: 1;
}

.favorites {
	flex: 1 0 30%;
	padding-left: 20px;
	padding-right: 10px;
}

.favorites__title {
	height: 90px;
	font-size: 20px;
}

.favorites__list {
	list-style: none;
}

.favorites__item {
	margin-bottom: 20px;
}



/* Footer
-----------------------------------------------------------------------------*/
.footer {
	flex: 0 0 auto;
	position: relative;
	height: 50px;
  min-width: 320px;
}
